<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:name=".ApplicationExt"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM392MNLV"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.OrderSummaryActivity"
            android:exported="false" />
       <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegisterConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ShippingMethodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ShippingAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CheckoutActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE " />

                <data
                    android:host="mnlv"
                    android:scheme="zpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MapActivity"
            android:exported="false" />
        <activity android:name=".ui.activities.LogoutActivity" />
        <activity
            android:name=".ui.activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MemberListActivity"
            android:exported="false" />

        <service
            android:name="vn.vietmap.services.android.navigation.v5.navigation.NavigationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>